
@media (min-width: 768px) {
	.header .nav {
		display: block !important;
	}
}

@media (max-width: 991px) {
	.galerry-section .gallery-item,
	.event-section .event-item {
		flex: 0 0 50%;
   		max-width: 50%;
    	padding: 15px;
	}
}

@media (max-width: 767px) {
	.header .nav ul li a {
		color: #555555;
		padding: 10px 0;
	}

	.header .nav ul li {
		display: block;
		margin-left: 15px;
	}

	.header .nav ul li:nth-child(1) {
		margin-left: 15px;
	}

	.top-header.fixed .header .nav ul li:nth-child(1) {
		margin-left: 15px;
	}

	.top-header.fixed .header .nav ul li a {
		padding: 7px 0;
	}

	.header .brand {
		padding: 8px 15px;
	}

	.top-header .header .list-btn {
		display: flex;
		margin-right: 15px;
	}

	.top-header.fixed .header .list-btn {
		display: flex;
		margin-right: 15px;
	}

	.header .nav {
		flex: 0 0 100%;
		max-width: 100%;
		background-color: #ffffff;
		border-top: 1px solid #cccccc;
		display: none;
	}

	.home-page .slide h1 {
		font-size: 50px;
	}

	.home-page .slide p {
		font-size: 25px;
	}

	.couple-section .row1 {
		display: flex;
		flex-wrap: wrap;
		text-align: center;
	}

	.couple-section .couple {
	    flex: 0 0 100%;
		max-width: 100%;
    	padding: 0 10px;
	}

	.couple-section .couple i.fa-heart {
		display: none;
	}

	.story-section .story-content:before {
		left: 20px;
	}

	.story-section .story-item i {
		left: 5px;
		margin-left: 0;
	}

	.story-section .story-img {
		margin-top: 20px;
	}

	.story-section .story-img, .story-section .story-text, .event-section .event-item {
	    flex: 0 0 100%;
   		max-width: 100%;
	}

	.event-section .event-item:nth-child(2) {
		transform: translateY(0px);
	}

	.story-section .story-item:nth-child(odd) .story-text {
		padding: 0 15px 0 60px;
    	text-align: left;
	}

	.story-section .story-item:nth-child(even) .story-img {
  	  padding: 0 15px 0 60px;
	}

	.venue-section .venue-row .venue-item .venue-content h2 {
		font-size: 10px;
	}

	.venue-section .venue-row .venue-item .venue-content span {
		font-size: 15px;
	}
}

@media (max-width: 574px) {
	.home-page .slide h1 {
		font-size: 50px;
	}

	.footer-container .footer-centent .couple-name {
		width: 250px;
		height: 250px;
	}

	.footer-container .footer-centent .couple-name h2 {
		font-size: 22px;
	}

	.galerry-section .gallery-item {
		flex: 0 0 100%;
		max-width: 100%
	} 
}

/*@media (max-width: 360px) {
	.top-header , .header, .top-header.fixed, .top-header.fixed .header{
		width: 360px;
	}

	.top-header .header .list-btn {
		display: flex;
		margin-right: 15px;
	}

	.top-header.fixed .header .list-btn {
		display: flex;
		margin-right: 15px;
	}

	.home-page .slide h1 {
		font-size: 20px;
	}
}*/